.sectionWrapper {
  margin: 100px 0;

  :global(.section-title) {
    text-align: center;
    margin-bottom: 32px;
  }

  .box {
    display: flex;
    align-items: center;
    gap: 30px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
      margin: 100px 0;
    }

    .boxTitle {
      text-align: left;
      margin-bottom: 10px;
    }

    .image {
      width: 100%;
      max-width: 496px;
      height: 196px;
    }
  }
}

@media screen and (max-width: 576px) {
  .sectionWrapper {
    margin: 40px 0;

    :global(.section-title) {
      margin-bottom: 24px;
    }

    .box {
      flex-direction: column-reverse;
      gap: 24px;

      &:nth-child(odd) {
        flex-direction: column-reverse;
        margin: 40px 0;
      }

      .image {
        max-width: 100%;
        height: 190px;
        object-fit: contain;
      }
    }
  }
}
