.sectionWrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 40px;

  .image {
    width: 100%;
    max-width: 638px;
    height: 428px;
  }
}

@media screen and (max-width: 576px) {
  .sectionWrapper {
    gap: 16px;
    flex-direction: column;
    margin-top: 20px;

    .image {
      height: 228px;
      object-fit: contain;
    }
  }
}
