@import "src/shared/styles/font-mixins";

.sectionWrapper {
  max-width: 1440px;
  margin: 100px auto 0;
  background: #f2f4f7;
  padding: 40px 0;

  :global(.section-title) {
    width: 100%;
    max-width: 860px;
    text-align: center;
    margin: 0 auto 32px;

    span {
      @include font-taviraj;
      margin-bottom: 12px;
      display: block;
      color: #667085;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }
  }

  .image {
    width: 243px;
    height: 81px;
  }
}

@media screen and (max-width: 576px) {
  .sectionWrapper {
    margin: 40px auto 0;
    padding: 20px 0;

    :global(.section-title) {
      margin: 0 auto 24px;

      span {
        font-size: 20px;
        line-height: 22px;
      }
    }

    .image {
      width: 200px;
      height: 60px;
      object-fit: contain;
    }
  }
}
