.sectionWrapper {
  margin: 100px 0;

  .box {
    display: flex;
    align-items: center;
    gap: 28px;

    &:nth-child(even) {
      flex-direction: row-reverse;
      margin-top: 100px;
    }

    .image {
      width: 100%;
      max-width: 642px;
      height: 540px;
    }

    :global(.section-subtitle) {
      margin: 20px 0 32px;
    }
  }
}

@media screen and (max-width: 576px) {
  .sectionWrapper {
    margin: 40px 0;

    .box {
      flex-direction: column;
      gap: 16px;

      &:nth-child(even) {
        flex-direction: column;
        margin-top: 40px;
      }

      .image {
        width: 100%;
        max-width: 350px;
        height: 300px;
        object-fit: contain;
        position: relative;
        left: 20px;
      }

      :global(.section-subtitle) {
        margin: 16px 0 18px;
      }
    }
  }
}
