@import "src/shared/styles/font-mixins";

.sectionWrapper {
  margin-top: 100px;
  position: relative;

  .cards {
    margin-top: 48px;
    position: relative;
    overflow: hidden;

    .image {
      width: 100%;
      max-width: 320px;
      height: 400px;
      object-fit: cover;
      object-position: 0 15px;
      &.ImageFive {
        object-position: center 30px;
      }
    }

    .topRectangle {
      width: 103%;
      height: 210px;
      position: absolute;
      top: -6%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 46%;
      background: #fff;
      z-index: 1;
    }

    .bottomRectangle {
      width: 103%;
      height: 210px;
      position: absolute;
      bottom: -60%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 46%;
      background: #fff;
    }
  }

  .moreBtn {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

@media screen and (max-width: 992px) {
  .sectionWrapper {
    margin-top: 20px;

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      margin-top: 20px;

      .image {
        max-width: 300px;
        height: 200px;
      }

      .topRectangle,
      .bottomRectangle {
        display: none;
      }
    }

    .moreBtn {
      top: 106%;
    }
  }
}
