.sectionWrapper {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 100px;

  :global(.section-title) {
    margin-bottom: 12px;
  }

  .image {
    width: 100%;
    max-width: 642px;
    height: 428px;
  }
}

@media screen and (max-width: 576px) {
  .sectionWrapper {
    flex-direction: column;
    gap: 18px;
    margin-top: 40px;

    .image {
      max-width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }
}
