@import "src/shared/styles/font-mixins";

.sectionWrapper {
  margin-top: 100px;

  :global(.section-title) {
    text-align: center;
    width: 100%;
    max-width: 866px;
    margin: 0 auto 32px;
  }

  .timelineWrapper {
    position: relative;

    .timeline {
      position: absolute;
      top: 50.5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .boxes {
      .box {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 252px;
        height: 235px;

        * {
          color: #98a2b3;
        }

        &.active {
          .texts {
            .year {
              color: #111827;
            }

            .title {
              color: #f4b645;
            }
          }

          .description {
            color: #1d2939;
          }
        }

        .texts {
          width: 100%;
          max-width: 416px;

          .year {
            @include font-taviraj;
            font-size: 30px;
            font-weight: 500;
            line-height: 30px;
          }

          .title {
            @include font-taviraj;
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
            margin-top: 12px;
          }
        }

        .description {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          width: 100%;
          max-width: 416px;
        }
      }
    }
  }
}

.timelineItem {
  &::before {
    border-color: #d0d5dd;
    background: #d0d5dd;
  }
}

.timelineBullet {
  background: #d0d5dd;
  border-color: #d0d5dd;

  &[data-active="true"] {
    border-color: #ffa80a;
    background: #ffa80a;
  }
}

@media screen and (max-width: 576px) {
  .sectionWrapper {
    margin-top: 20px;

    :global(.section-title) {
      margin: 0 auto 24px;
    }

    .timelineWrapper {
      .timeline {
        position: absolute;
        top: 50.5%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .boxes {
        .box {
          gap: 12px;
          justify-content: center;

          .texts {
            width: 100%;
            max-width: 190px;

            .year {
              font-size: 24px;
              line-height: 26px;
            }

            .title {
              font-size: 18px;
              line-height: 20px;
              margin-top: 8px;
              padding-right: 16px;
            }
          }

          .description {
            font-size: 14px;
            line-height: 16px;
            max-width: 190px;
            padding-left: 16px;
          }
        }
      }
    }
  }
}
