@import "src/shared/styles/font-mixins";

.sectionWrapper {
  padding: 0 110px;
  margin: 0 auto;

  .box {
    display: flex;
    gap: 28px;
    margin-top: 100px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .map {
      width: 100%;
      max-width: 640px;
      height: 480px;
      padding: 6px;
      overflow: hidden;
      border-radius: 24px;
      border: 1px solid #1a1a1a;

      iframe {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 20px;
      }
    }

    .boxRight {
      width: 100%;
      max-width: 418px;

      .descriptionWrapper {
        width: 100%;
        border-top: 1px solid #e4e7ec;
        border-bottom: 1px solid #e4e7ec;
        padding: 20px 0;
        margin: 20px 0 28px;

        .descriptionTarget {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include font-taviraj;
          color: #111827;
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
          user-select: none;
          cursor: pointer;
        }

        .text {
          color: #667085;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-top: 8px;
        }
      }

      .contactBox {
        width: 100%;

        p,
        a {
          color: #111827;
        }

        .label {
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
          margin-bottom: 24px;
        }

        .link {
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          margin-bottom: 24px;
          display: flex;
          align-items: center;
          gap: 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .socials {
          a {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .sectionWrapper {
    padding: 0;

    .box {
      gap: 16px;
      margin-top: 40px;
      flex-direction: column;

      &:nth-child(even) {
        flex-direction: column;
      }

      .map {
        max-width: 100%;
        height: 280px;
      }

      .boxRight {
        max-width: 100%;

        .descriptionWrapper {
          padding: 16px 0;
          margin: 16px 0 18px;

          .descriptionTarget {
            font-size: 18px;
            line-height: 22px;
          }

          .text {
            font-size: 16px;
            line-height: 20px;
          }
        }

        .contactBox {
          .label {
            margin-bottom: 18px;
          }

          .link {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
